@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>En energivenlig gryde fra Divide</h1>
    <p>
<bold>Elegant design</bold> der sikrer fremtiden
Vores gryde er udformet så den sikrer minimalt energispilde. Dens inddeling gør at det er meget mere effektivt at koge fx. to forskellige retter. Vi kan alle sammen være med til at sikre fremtiden for vores børn. Grydens revolutionære udformning er med til at nedbringe udnøvendig energispilde 
    </p>
</section>

<div id="sidebar">
   @Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")
</div>
