@{
    Page.Title = "Spar energi med en gryde fra Divide";

    
   
   var db = Database.Open("bakery");
   var products = db.Query("SELECT * FROM PRODUCTS").ToList();
   var featured = products[new Random().Next(products.Count)];
}

 <div id="container">
<header id="headerleft">
    <a href="http://divide.dk/1" target="_blank">
        <img src="img/logo.png" width="90%" />
    </a>
    <br />
    <br />
    <a href="http://divide.dk/2" target="_blank">
    <img src="img/buyButton.png" width="90%" />
    </a>
    <br />
    <br />
    <a href="http://divide.dk/3" target="_blank">
    <img src="img/profileButton.png" width="90%" />
    </a>
    <br />
    <br />
    <a href="http://divide.dk/4" target="_blank">
    <img src="img/contactButton.png" width="90%" />
    </a>
    <br />
    <br />
    <a href="http://divide.dk/5" target="_blank">
    <img src="img/shareButton.png" width="90%" />
    </a> </header>    
    <header id="header">
   <div class="fb-like-box" style="width: 90%" data-href="https://www.facebook.com/Divide.dk" data-show-faces="true" data-stream="true" data-header="true"></div> </header>    
    <div id="maincontent">
	 <div class="row-fluid">
        <img src="http://divide.dk/img/index/slider/sample-img/free-slider-img2.png" width="100%" alt="some_text"> 
        <br />
        <br />
        <div class="row-fluid" >
        <iframe align="left" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
        <iframe align="center" width="30%" src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
        <iframe align="right" width="30%"  src="http://www.youtube.com/embed/iP6XpLQM2Cs" frameborder="0" allowfullscreen></iframe>
		<br />
        <br />
		<img src="img/IEB.png" width="100%" align="center" alt="some_text">
        <br />
        <br />
        <img src="img/Arg1.png" align="left" width="45%" alt="some_text">
		<img src="img/Arg2.png" align="right" width="45%" alt="some_text">
            
           
          
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Førsteårsprojekt - prototype 1.0.0</p>
      </footer>

    </div><!--/.fluid-container-->
        <div style="height:12580px;background:#333;"></div>
    </div>    
    <div style="height:100px;background:#ccc;"></div>    
</div>